<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>
        <p>Welcome to <%= title %>
        </p>
        <main class="container">
            <div class="row">
                <div class="col-md-offset-3 col md-8">
                    <h1>
                        <%= title %>
                    </h1>
                    <a href="/tournamentsList/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i>Create Tournament</a>
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th class="text-content col-2">Title</th>
                            <th class="text-content col-2">Owner</th>
                            <th class="text-content col-1">Sport Type</th>
                            <th class="col-6">Location</th>
                            <th class="text-content col-1">Team Count</th>
                            <th class="text-content col-1"></th>
                            <th class="text-content col-1"></th>
                        </tr>
                        <% for(let count=0; count<tournamentList.length; count++){ %>
                            <tr>
                                <td class="text-center col-2">
                                    <%=tournamentList[count].title%>
                                </td>
                                <td class="text-center col-2">
                                    <%=tournamentList[count].owner%>
                                </td>
                                <td class="text-center col-1">
                                    <%=tournamentList[count].sportType%>
                                </td>
                                <td class="col-6">
                                    <%=tournamentList[count].location%>
                                </td>
                                <td class="text-center col-1">
                                    <%=tournamentList[count].teamCount%>
                                </td>
                                <td class="text-center col-1"><a href="/tournamentsList/edit/<%=tournamentList[count]._id%>"
                                        class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                                <td class="text-center col-1"><a href="/tournamentsList/delete/<%=tournamentList[count]._id%>"
                                        class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a></td>
                            </tr>
                            <%}%>
                    </table>

                </div>
            </div>
        </main>

        <%-include ../partials/bottom_nav.ejs%>
            <%-include ../partials/footer.ejs%>